<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Avocado Toast</title>
<style>
@media (min-width:400px){
.img_float {
    float: none;
}
body img {
}
}
.img_float {
    float: none;
    border: thin solid #1B6B2A;
}
.img_float_right {
    float: none;
    border: thin solid #1B6B2A;
}
.im {
}
body {
    background-color: #B0D7B7;
    background-image: url(Background.jpg);
    background-repeat: repeat;
}
body,td,th {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 18px;
    color: #000000;
}
a {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 18px;
    color: #030303;
}
a:visited {
    color: #989fda;
    text-decoration: none;
}
a:hover {
    color: #e8666e;
    text-decoration: underline;
}
a:active {
    color: #6972b5;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: 500;
}
h1 {
    font-size: xx-large;
}
a:link {
    text-decoration: none;
}
</style>
</head><body tracingsrc="assets/rm422-047.jpg" tracingopacity="50">
        <blockquote>
          <blockquote>
            <blockquote>
              <blockquote>
                <blockquote>
                  <blockquote>
                    <blockquote>
                      <blockquote>
                        <blockquote>
                          <blockquote>
                            <blockquote>
                              <h1><span class="Recipes"><a href="Recipes.html">Recipes</a></span> <a href="Exercise.html">Exercise</a> - <a href="Contact Us.html">ContactUs</a> - <a href="index.html">Home</a></h1>
                            </blockquote>
                          </blockquote>
                        </blockquote>
                      </blockquote>
                    </blockquote>
                  </blockquote>
                </blockquote>
              </blockquote>
            </blockquote>
          </blockquote>
        </blockquote>
<h1>How to Make the Best Avocado Toast </h1>
<a href="assets/pexels-foodie-factor-566566.jpg"><img src="assets/Avocado.jpg" alt="Avocado"></a>
<p>1) Pick great avocados</p>
<p>You want ripe but not over-ripe Hass avocados. Look for avocados that yield a bit to a gentle squeeze, but void using avocados that are mushy or stringy on the inside. If you run into any bruised or brown bits when you cut them open, scoop those out and discard before mashing the rest.</p>
<p>2) Buy good bread and toast it well</p>
<p>I think sturdy, thick-sliced, whole grain bread make the best avocado toast. Golden, well-toasted bread offers a sturdy base and crisp, shattering contrast against the creamy avocado.</p>
<p>3) Mash you avocado separatelu</p>
<p>Mashed avocado is more creamy and luxurious than sliced avocado. But don't mash it on the toast! Tou risk poking holes in your toast or smashing it.<br>
Cut your avocados in half, remove the pit, scoop the flesh into a bowl or onto the side of your plate, and mash it up with fork.</p>
<p>4) Don't forget the salt</p>
<p>You'll want to mix in at least a pinch of salt per avocado half. Bonus points? Finish your avocado toast with a light sprinkle or flaky sea salt or everything bagel seasoning.</p>
<p>&nbsp;</p>
<a href="assets/avocado-toast-with-egg-scaled.jpg"></a>
<img src="assets/Toast.jpg" alt="Toast"><p>&nbsp;</p>
<p>February 28, 2023</p>
</html>
